{% extends "base.html.twig" %}

{% block title %}

    BlogSymfony | Identifiez-vous
    
{% endblock %}

{% block body %}

<h1 class="display-4 fst-italic text-center my-5">Identifiez-vous</h1>

{% if error %}

    <p class="bg-danger text-white text-center p-2 col-md-4 mx-auto rounded">
    {{ error.messageKey|trans(error.messageData, 'security') }}
    {# trans(error.messageData : permet de pointer sur le fichier 'translations/security.en.php' qui contient 
    la personnalisation des messages utilisateurs par défaut de Symfony, la tradution de messages #}
    </p>

{% endif %}

{% for message in app.flashes('success') %}

    <div class="col-md-4 mx-auto bg-success text-white rounded p-3 text-center">
    {{ message }}
    
    </div>
    
{% endfor %}

<form method="post" action="{{ path('security_login')}}" class="col-md-3 mx-auto">
    <div class="mb-3">
    <label for="_username" class="form-label">Email</label>
    <input type="email" class="form-control" id="_username" name="_username" placeholder="name@example.com" value={{lastEmail}}>
    {# on stock dans l'attribut value le dernier email posté par l'internaute en cas d'errur de saisi #}
    </div>
    <div class="mb-3">
    <label for="_password" class="form-label">Mot de passe</label>
    <input type="password" class="form-control" id="_password" name="_password" rows="3">
    </div>

    <button type="submit" class="btn btn-dark mb-5">Continuez</button>

</form>    
    
{% endblock %}