{% extends 'base.admin.html.twig' %}

{% block title %}Hello AdminController!{% endblock %}

{% block body %}

<div class="d-flex align-items-center justify-content-center flex-column" style ="min-height: 70vh;">

<h1 class="display-4 fst-italic text-center">Bienvenue dans le BackeOffice</h1>

<h4 class-"text-center mt-5">Vous avez accès à toute l'administration de  votre blog</h4>

<h5>Statistiques</h5>




</div>

{% endblock %}
